CryptoEditorWeb/Web References/CryptoEditorServiceBackup/BackupService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cryptoeditor.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://cryptoeditor.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cryptoeditor.com/">
      <s:element name="IsLicenseValid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userLicense" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsLicenseValidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsLicenseValidResult" type="tns:CryptoEditorServiceCodes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="CryptoEditorServiceCodes">
        <s:restriction base="s:string">
          <s:enumeration value="SUCCESS" />
          <s:enumeration value="USER_EXIST" />
          <s:enumeration value="USER_DOES_NOT_EXIST" />
          <s:enumeration value="USER_DISABLED" />
          <s:enumeration value="USER_EXPIRED" />
          <s:enumeration value="INVALID_LICENSE" />
          <s:enumeration value="SYSTEM_ERROR" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetEncryptedLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEncryptedLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEncryptedLicenseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="license" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encryptedLicense" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateKeyResult" type="tns:CryptoEditorServiceCodes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Confirm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="license" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encryptedLicense" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConfirmResult" type="tns:CryptoEditorServiceCodes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterResult" type="tns:CryptoEditorServiceCodes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="license" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="plugin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveResult" type="tns:CryptoEditorServiceCodes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Load">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="license" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="plugin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsLicenseValidSoapIn">
    <wsdl:part name="parameters" element="tns:IsLicenseValid" />
  </wsdl:message>
  <wsdl:message name="IsLicenseValidSoapOut">
    <wsdl:part name="parameters" element="tns:IsLicenseValidResponse" />
  </wsdl:message>
  <wsdl:message name="GetEncryptedLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:GetEncryptedLicense" />
  </wsdl:message>
  <wsdl:message name="GetEncryptedLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:GetEncryptedLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateKeySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateKey" />
  </wsdl:message>
  <wsdl:message name="UpdateKeySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmSoapIn">
    <wsdl:part name="parameters" element="tns:Confirm" />
  </wsdl:message>
  <wsdl:message name="ConfirmSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="SaveSoapOut">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="LoadSoapIn">
    <wsdl:part name="parameters" element="tns:Load" />
  </wsdl:message>
  <wsdl:message name="LoadSoapOut">
    <wsdl:part name="parameters" element="tns:LoadResponse" />
  </wsdl:message>
  <wsdl:portType name="BackupServiceSoap">
    <wsdl:operation name="IsLicenseValid">
      <wsdl:input message="tns:IsLicenseValidSoapIn" />
      <wsdl:output message="tns:IsLicenseValidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEncryptedLicense">
      <wsdl:input message="tns:GetEncryptedLicenseSoapIn" />
      <wsdl:output message="tns:GetEncryptedLicenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKey">
      <wsdl:input message="tns:UpdateKeySoapIn" />
      <wsdl:output message="tns:UpdateKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <wsdl:input message="tns:ConfirmSoapIn" />
      <wsdl:output message="tns:ConfirmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input message="tns:SaveSoapIn" />
      <wsdl:output message="tns:SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Load">
      <wsdl:input message="tns:LoadSoapIn" />
      <wsdl:output message="tns:LoadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BackupServiceSoap" type="tns:BackupServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsLicenseValid">
      <soap:operation soapAction="http://cryptoeditor.com/IsLicenseValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEncryptedLicense">
      <soap:operation soapAction="http://cryptoeditor.com/GetEncryptedLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKey">
      <soap:operation soapAction="http://cryptoeditor.com/UpdateKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <soap:operation soapAction="http://cryptoeditor.com/Confirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://cryptoeditor.com/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://cryptoeditor.com/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load">
      <soap:operation soapAction="http://cryptoeditor.com/Load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BackupServiceSoap12" type="tns:BackupServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsLicenseValid">
      <soap12:operation soapAction="http://cryptoeditor.com/IsLicenseValid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEncryptedLicense">
      <soap12:operation soapAction="http://cryptoeditor.com/GetEncryptedLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKey">
      <soap12:operation soapAction="http://cryptoeditor.com/UpdateKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <soap12:operation soapAction="http://cryptoeditor.com/Confirm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://cryptoeditor.com/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://cryptoeditor.com/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load">
      <soap12:operation soapAction="http://cryptoeditor.com/Load" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BackupService">
    <wsdl:port name="BackupServiceSoap" binding="tns:BackupServiceSoap">
      <soap:address location="http://localhost/cryptoeditor/BackupService.asmx" />
    </wsdl:port>
    <wsdl:port name="BackupServiceSoap12" binding="tns:BackupServiceSoap12">
      <soap12:address location="http://localhost/cryptoeditor/BackupService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>